use axum::http::header::CONTENT_TYPE;
use axum::response::{IntoResponse, Response};
use axum::routing::get;

const OPENAPI_JSON: &str = "{{&specJson}}";

pub fn router() -> axum::Router {
    axum::Router::new().route("/openapi.json", get(serve_openapi))
}

async fn serve_openapi() -> Response {
    (
        [(CONTENT_TYPE, "application/json")],
        OPENAPI_JSON.to_string(),
    )
        .into_response()
}
