// schema-version: {{schemaVersion}}
{{#simpleDoc}}/// Type {{structName}}.
{{/simpleDoc}}{{#descriptionDoc}}/// Type {{structName}}.
/// Datasource type: {{datasourceType}}.
/// Target: StandardCrud.
/// Fields: {{fieldCount}}.
{{/descriptionDoc}}#[derive(Clone, Debug, PartialEq)]
pub struct {{structName}} {
{{#fields}}
    pub {{ident}}: {{rustType}},
{{/fields}}
}
